
div{
    width: 250px;
    height: 250px;
    background: #7260db;
    margin-top: 10px;
}
.block1{
    border-radius: 0 30px 30px 0;
}
.block2{
    border-radius: 0 110px 0 110px;
   background:linear-gradient(135deg,#8beb9f, #0f8b3f);
}
.block3 {
    border-radius: 15px 120px 15px 120px;
    background:linear-gradient(-135deg,#f9ffa6, #fbff00);
}
.block4{
    border-radius: 50%;
    background: #228dd4;
}
